.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


#wraper {
  padding: 5%;
  text-align: center;
  width: 80%;
}

#personToPerson, #topicToTopic {
    background: #dddddd;
    display: inline-block;
    padding: 2%;
  }

